body {
  padding-top: 85px;
}

/* Code blocks styling */
pre, code {
  font-family: "Ubuntu Mono", monospace;
}

pre {
  background: #000;
  border-radius: 0;
  border: 0;
  line-height: 15px;
  font-size: 13px;
  margin: 0;
  padding: 7px 8px;
  color: #fff;
  overflow: auto;
}

table.highlighttable {
  border: 1px solid #000 !important;
  margin-bottom: 10px;
}

table.highlighttable td.linenos pre {
  text-align: right;
  font-size: 13px;
  line-height: 15px;
  background: #333 !important;
  border-right: 1px solid #555 !important;
  border-radius: 0;
  width: 35px;
}

table.highlighttable td.linenos code {
  color: #eee !important;
}

table.highlighttable td.code {
  width: 100%;
}

table.highlighttable td.code pre {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  background: #000 !important;
  color: #fff !important;
}

p code {
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  border: 1px solid #ddd;
  padding: 0 3px;
  margin: -1px 0;
} */

/* Affix navigation to top-right
#nav.affix {
  position: static;
}
@media screen and (min-width: 768px) {
  #nav.affix,
  #nav.affix {
    position: fixed;
    top: 85px;
  }
  #nav.affix-bottom {
    position: absolute;
  }
}

/* Ensure navigation has consistent width when scrolling
http://getbootstrap.com/css/#grid-options shows the column width/screen width mapping
@media (min-width: 768px) {
  #nav {
    width: 186px; /* 62*3 *
  }
}
@media (min-width: 992px) {
  #nav {
    width: 243px; /* 81*3 *
  }
}
@media (min-width: 1200px) {
  #nav {
    width: 291px; /* 97*3 *
  }
} */

/* Tweak code styling

code {
  padding: 1px;
} */

/* Syntax highlighting

pre, code {
  font-family: "Ubuntu Mono", monospace;
} */
