.affix-top, .affix{
  position: static;
}

@media (min-width: 768px) {
  #sidebar.affix-top {
    position: static;
    width: 186px; /* .col-sm width: ~62px */
  }
  
  #sidebar.affix {
    position: fixed;
    top: 0;
    width: 186px; /* .col-sm width: ~62px */
  }
}

/* */
#sidebar li.active {
  border: 0 #3E3F3A solid;
  border-left-width: 3px;
}
