---
---

@import "variables";
@import "bootstrap";
@import "bootswatch";

#sidebar.affix {
  position: static;
}

@media screen and (min-width: $screen-sm-min) {
  #sidebar.affix {
    position: fixed;
    top: 0;
  }

  #sidebar.affix-bottom {
    position: absolute;
  }
}

@media (min-width: $screen-sm-min) {
  #sidebar {
    width: 62px * 3;
  }
}

@media (min-width: $screen-md-min) {
  #sidebar {
    width: 81px * 3;
  }

  img.img-responsive {
    max-width: 90%;
  }
}

@media (min-width: $screen-lg-min) {
  #sidebar {
    width: 97px * 3;
  }

  img.img-responsive {
    max-width: 80%;
  }
}

#sidebar li.active {
  border: 0 $gray-dark solid;
  border-left-width: 3px;
}

img.img-responsive {
  margin: auto;
}

// Style input and output classes differently
pre.input {
  color: $pre-input-color;
  background-color: $pre-input-bg;
}

pre.output {
  color: $pre-output-color;
  background-color: $pre-output-bg;
}