---
layout: default
title: 'Bienvenido'
---

<div class="jumbotron">
  <h1>{{ page.title }}</h1>
  <p>En este sitio web encontrarás información y material de apoyo para los cursos dictados en el Laboratorio de Sistemas Complejos Naturales de la Universidad Nacional de Colombia - Sede Medellín.</p>
  <p><a href="/about/" class="btn btn-default btn-lg">Sobre Nosotros</a></p>
</div>
<div class="page-header">
  <h1>Cursos</h1>
</div>
<div class="row text-justify">
  {% for collection in site.collections %}
    {% if collection.main == 1 %}
      <div class="col-md-6">
        <h2>{{ collection.title }}</h2>
        <p>{{ collection.description }}</p>
        <p><a href="/{{ collection.label }}" class="btn btn-default" role="button">Ver Curso</a></p>
      </div>
    {% endif %}
  {% endfor %}
</div>
<div class="row text-justify">
  {% for collection in site.collections %}
    {% if collection.main == 2 %}
      <div class="col-md-6">
        <h2>{{ collection.title }}</h2>
        <p>{{ collection.description }}</p>
        <p><a href="/{{ collection.label }}" class="btn btn-default" role="button">Ver Curso</a></p>
      </div>
    {% endif %}
  {% endfor %}
</div>
<div class="page-header">
  <h2>Cursos Complementarios</h2>
</div>
<div class="row text-justify">
  {% for collection in site.collections %}
    {% if collection.main == 0 %}
      <div class="col-md-6">
        <h3>{{ collection.title }}</h3>
        <p>{{ collection.description }}</p>
        <p><a href="/{{ collection.label }}" class="btn btn-default" role="button">Ver Curso</a></p>
      </div>
    {% endif %}
  {% endfor %}
</div>
