<ul class="nav navbar-nav">
  {% for collection in site.collections %}
    {% if collection.main == 1 or collection.main == 2 %}
      <li class="{% if page.collection == collection.label %}active{% endif %}">
        <a href="{{ collection.label | prepend: '/' }}">{{ collection.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros Cursos<span class="caret"></span></a>
    <ul class="dropdown-menu">
      {% for collection in site.collections %}
        {% if collection.main == 0 %}
          <li><a href="{{ collection.label | prepend: '/' }}">{{ collection.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  <li class="{% if page.url contains '/about/' %}active{% endif %}">
    <a href="/about/">Sobre Nosotros</a>
  </li>
</ul>
