// Colors
$brand-primary:         #008cba;
$brand-success:         #43ac6a;
$brand-info:            #5bc0de;
$brand-warning:         #E99002;
$brand-danger:          #F04124;


// Font families
$font-family-sans-serif:  "Lato", sans-serif;
$font-family-serif:       "Bitter", serif;
$font-family-monospace:   "Ubuntu Mono", monospace;
$font-family-headings:    "Coda", cursive;

// Font sizes
$font-size-base:          16px;
$font-size-large:         18px;
$font-size-small:         14px;

// Headings font
$headings-font-family:    $font-family-headings;

// Bootstrap font path
$icon-font-path:          "../fonts/bootstrap/";

// Code
$pre-output-bg:           #fff;

// Navbar collapse
$grid-float-breakpoint:   992px;

// Alerts
$alert-success-bg:            lighten($brand-success, 10%);
$alert-success-text:          darken($alert-success-bg, 50%);
$alert-info-bg:               lighten($brand-info, 10%);
$alert-info-text:             darken($alert-info-bg, 50%);
$alert-warning-bg:            lighten($brand-warning, 10%);
$alert-warning-text:          darken($alert-warning-bg, 50%);
$alert-danger-bg:             lighten($brand-danger, 10%);
$alert-danger-text:           darken($alert-danger-bg, 50%);