// Font families
$font-family-sans-serif:  "Lato", sans-serif;
$font-family-serif:       "Bitter", serif;
$font-family-monospace:   "Ubuntu Mono", monospace;
$font-family-headings:    "Coda", cursive;

// Font sizes
$font-size-base:          16px;
$font-size-large:         18px;
$font-size-small:         14px;

// Headings font
$headings-font-family:    $font-family-headings;

// Bootstrap font path
$icon-font-path:          "../fonts/bootstrap/";

// Code
$pre-output-bg:           #fff;

// Navbar collapse
$grid-float-breakpoint:   992px;

// Alerts

$alert-success-text:          #000;
$alert-info-text:             #000;
$alert-warning-text:          #000;
$alert-danger-text:           #000;
