@import url("//fonts.googleapis.com/css?family=Ubuntu+Mono|Lato:400,300|Bitter|Coda");

/*
 * Scaffolding
 */

html,
body {
  height: 100%;
}

body {
  position: relative; /* For scrollspy */
  padding-top: 50px; /* For navbar-fixed-top */
}

/*
 * Footer
 */

#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px;
  padding-bottom: 50px;
}

.footer,
.push {
  height: 150px;
}

.footer {
  background-color: $gray-dark;
  color: $gray-light;
  padding-top: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer p {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .footer,
  .push {
    height: 200px;
  }
}

#classIndex {
  margin: 0;
}

/*
 * Side navigation
 *
 */

.lscn-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .lscn-sidebar {
    padding-left: 20px;
  }
}

/* First level of nav */
.lscn-sidebar {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* All levels of nav */
.lscn-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: $font-size-small;
  font-weight: 500;
}
.lscn-sidebar .nav > li > a:hover,
.lscn-sidebar .nav > li > a:focus {
  padding-left: 19px;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid $gray-dark;
}
.lscn-sidebar .nav > .active > a,
.lscn-sidebar .nav > .active:hover > a,
.lscn-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  background-color: transparent;
  border-left: 2px solid $gray-dark;
}

/* Nav: second level (shown on .active) */
.lscn-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.lscn-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.lscn-sidebar .nav .nav > li > a:hover,
.lscn-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.lscn-sidebar .nav .nav > .active > a,
.lscn-sidebar .nav .nav > .active:hover > a,
.lscn-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

/* Back to top (hidden on mobile) */
.back-to-top {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: $gray-light;
}
.back-to-top:hover {
  color: $gray-dark;
  text-decoration: none;
}

.back-to-top:focus {
  color: $gray-dark;
  text-decoration: none;
}

@media (min-width: 768px) {
  .back-to-top {
    display: block;
  }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .lscn-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .lscn-sidebar.affix,
  .lscn-sidebar.affix-bottom {
    width: 213px;
  }
  .lscn-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 20px;
  }
  .lscn-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .lscn-sidebar.affix-bottom .lscn-sidenav,
  .lscn-sidebar.affix .lscn-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .lscn-sidebar.affix-bottom,
  .lscn-sidebar.affix {
    width: 263px;
  }
}

img.img-responsive {
  margin: auto;
}

div.output > pre {
  background-color: $pre-output-bg;
  color: $pre-output-color;
}

/* Syntax Highlighting */
pre .c, pre .c1 { color: #998; font-style: italic; }
pre .o { color: #093; }
pre .p { color: #687687; }
pre .s { color: #d14; }
//pre .k { color: #F0E68C; }
//pre .nf { color: #87CEEB; }
