body {
  background-color: Azure; /* colores w3schools.com/colors/colors_names.asp */
}

p {
  font-family: helvetica; /* Tipos de letra https://www.w3schools.com/cssref/playit.asp?filename=playcss_font-family */ 
  font-size: 20px; /* Controla el tamaño de letra del texto de html */
}

pre {
  font-size: 12px; /* Controla el tamaño de la letra de los resultados del R */
}