---
layout: page
---

<div class="row">
  <div class="col-md-10 text-justify">
    {{ content }}
  </div>
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked" id="sidebar">
      {% for clase in site.pages %}
        {% if clase.clase and clase.curso == page.curso %}
          {% if clase.url == page.url %}
            <li class="active"><a href="{{ clase.url }}">Clase {{ clase.clase }}</a></li>
          {% else %}
            <li><a href="{{ clase.url }}">Clase {{ clase.clase }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
