---
layout: page
---

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 pull-right">
    <nav class="lscn-sidebar hidden-print hidden-xs hidden-sm">
      <h4>Contenido</h4>
      <ul class='lscn-sidenav nav nav-stacked' id="toc"></ul>
      <a class='back-to-top' href='#main'>Volver al inicio</a>
    </nav>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 text-justify pull-left" id="content">
    {{ content }}
    <hr>
    <nav class="text-center">
      <ul class="pagination pagination-sm" id="classIndex">
        {% assign col = page.collection %}
        {% for node in site[col] %}
          {% if node.clase %}
            <li {% if node.clase == page.clase %}class="active"{% endif %}>
              <a href="{{ node.url }}">{{ node.clase }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="../clases.html">Índice de clases</a></li>
      </ul>
    </nav>
  </div>
</div>
