<!DOCTYPE html>
<html lang="es">
  <head>
    {% include head.html %}
  </head>
  <body role="document">
    {% include navigation.html %}
    <div class="container">
      {% if page.title == 'Bienvenido' %}
        <div class="jumbotron">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      {% else %}
        <div class="page-header">
          <h1>{{ page.title }}</h1>
        </div>
        {{ content }}
      {% endif %}
      <hr>
      <footer>
        <p>{{ site.subtitle }} &middot; {{ site.description }}</p>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    {% if page.custom_js %}
      {% for js in page.custom_js %}
        {% include {{ js }}.html %}
      {% endfor %}
    {% endif %}
  </body>
</html>
