<!DOCTYPE html>
<html lang="es">
  <head>
    {% include head.html %}
  </head>
  <body role="document">
    {% include navigation.html %}
    <div class="container">
      {{ content }}
      <hr>
      {% include footer.html %}
    </div>
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
    {% if page.custom_js %}
      {% for js in page.custom_js %}
        {% include {{ js }}.html %}
      {% endfor %}
    {% endif %}
  </body>
</html>
